* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #1a1a1a;
  color: #c4c2c2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  flex-direction: column;
  padding: 3rem 4rem;
  background-color: #fff;
  border-radius: 15px;
  width: 400px;
  max-width: 90%;
  box-shadow: 2px 2px 4px solid black;
  margin: 20px;
}

h2 {
  color: #1a1a1a;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

input {
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  flex: 1;
  border: 2px solid gray;
  outline: none;
}
input:focus {
  border-color: rgb(245, 223, 51);
}
.inputs {
  width: 100%;
  display: flex;
  gap: 0.7rem;
  margin-bottom: 02rem;
}

.inputs button {
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  border: 1px solid gray;
  font-weight: 550;
  color: #1a1a1a;
  cursor: pointer;
}

.task-list ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  color: #1a1a1a;
  font-weight: bold;
}

.task-list ul li {
  display: flex;
  padding: 0.7rem;
  margin-bottom: 0.7rem;
  justify-content: space-between;
  background: rgb(183, 181, 181);
  border-radius: 5px;
}

.task-list ul li span {
  color: #ff4d4d;
  box-shadow: 1px 1px 2px solid #1a1a1a;
  cursor: pointer;
  transition: all 0.3s ease;
}

.task-list ul li span:hover {
  text-shadow:
    0 0 5px #ff4d4d,
    0 0 10px #ff4d4d;
  transform: scale(1.1);
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
